<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 border mt-5 p-4">
            <form action="/admin/add-users" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend class="text-center">Add User</legend>

                <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" value="safeer" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" value="sfr" class="form-control" name="last_name" id="first_name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" value="safeer@gmail.com" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="password" id="pw">
                </div>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>